extends layout

block content
  != page.html
  if (interaction.words && Object.keys( interaction.words ).length !== 0)   
   h2 Content Words
   table.table.table-first-column-number
    thead
      tr
        th(style='padding-left: 1em;') #
        th Word
        th Volume
     tbody
      - var i = 0;
      each val, key in interaction.words
       - i++;
       if i < 11       
        tr
         td #{i}
         td #{key}
         td #{val}
   .well
    h1 Content Words
    h2 Content Words
    p
      | All words extracted from the interaction content and aggregated by volume. This data is useful to understand common topics and interests that were captured within the content.
    p
      a.btn.btn-primary(href='data/content_words_volume.csv') Download
      
  if (hashtags && Object.keys( hashtags ).length !== 0)   
   h2 Hashtags
   table.table.table-first-column-number
    thead
      tr
        th(style='padding-left: 1em;') #
        th Hashtag
        th Volume
     tbody
      - var i = 0;
      each val, key in hashtags
       - i++;
       if i < 11       
        tr
         td #{i}
         td #{key}
         td #{val}
   .well
    h1 Twitter Hashtags
    h2 Hashtags
    p
      | For Twitter data, all hashtags aggregated by volume. This data is useful to understand common topics and interests that were captured within the content.
    p
      a.btn.btn-primary(href='data/hashtag_volume.csv') Download