extends layout

block content
  != page.html
  if (links.domain && Object.keys( links.domain ).length !== 0) 
   h2 Domains
   table.table.table-first-column-number
    thead
      tr
        th(style='padding-left: 1em;') #
        th Domain
        th Volume
     tbody
      - var i = 0;
      each val, key in links.domain
       - i++;
       tr
        if i < 10
         td #{i}
         td #{key}
         td #{val}
        
  if (links.url && Object.keys( links.url ).length !== 0) 
   h2 URL's
   table.table.table-first-column-number
    thead
      tr
        th(style='padding-left: 1em;') #
        th URL
        th Title
        th Volume
     tbody
      - var i = 0;
      each val, key in links.url
       - i++;
       tr
        if i < 10
         td #{i}
         td #{key}
         td #{val.title}
         td #{val.count}
        
                   
  .well
   if (links.domain && Object.keys( links.domain ).length !== 0) 
    h1 Domains and URL's
    h2 Domain Volumes
    p
      | Top domains by volume.
    p
      a.btn.btn-primary(href='data/domain_volume.csv') Download
    br
   if (links.url && Object.keys( links.url ).length !== 0)  
    h2 URL Volume
    p
      | Top URL's by volume. This data includes the full extracted URL, the title of that page, and the volume count.
    p
      a.btn.btn-primary(href='data/url_volume.csv') Download